body {
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a2e;
}

h1, p {
    text-align: center;
    color: white;
    margin: 0;
}

hr {
    width: 100%;
    margin: 10px 0;
}

.game-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.column {
    width: 45%;
}

.game-image {
    width: 100% fit-content;
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.game-button {
    font-family: 'VT323', monospace;
    background-color: #ffcc00;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.game-button:hover {
    background-color: #ff6600;
    transform: scale(1.1);
}

.column:hover .game-image {
    transform: scale(1.05);
}
